body {
  padding-top: 115px;
  background-color: #FFFFFF;
  color:rgba(0, 0, 0, 0.77);
  overflow-y: scroll;
}
.pointer {
  cursor: pointer;
}

.right{
  float: right;
}
.no.rounded {
  border-radius: 0 !important;
}
.ui.fixed.top.menu {
  background-color: #5d758a;
  z-index: 9999;
}
.ui.fixed.top.menu .item {
  color: #1C88E3;
}
.ui.fixed.top.menu .ui.popup .item {
  color: #000000;
}
.ui.white.header {
  color: #FFFFFF;
}
.side.menu {
  background-color: #5d758a;
  width: 193px;
  height: 100vh;
  padding: 10px 0px 0px 0px;
  position: fixed;
  z-index: 9998;
  left: 0;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  margin-top: -10px;
}
.side.menu.hide {
  left: -255px;
}
.side.menu.hide + #content {
  padding-left: 25px;
}
@media (max-width: 768px) {
  .side.menu.hide + #content {
    padding-left: 10px;
  }
}
@media (max-width: 768px) {
  .side.menu {
    width: 50px;
  }
  .side.menu .profile {
    display: none;
  }
}
.side.menu .ui.vertical.menu {
  border-radius: 0;
  box-shadow: none;
  border: none;
}
@media (max-width: 768px) {
  .side.menu .ui.vertical.menu {
    max-height: 80vh;
  }
}
.side.menu .ui.vertical.menu .item {
  background-color: #233545;
  color: rgba(255, 255, 255, 0.7);
  border-radius: 0;
}

.side.menu .ui.vertical.menu .item.active {
  background-color: #1c88e3;
  color: rgba(255, 255, 255, 1);
}

.side.menu .ui.vertical.menu .item:hover {
  background-color: #314456;
  color: #ffffff;
}
@media (max-width: 768px) {
  .side.menu .ui.vertical.menu .item {
    padding: 10px;
    font-size: 0;
  }
  .side.menu .ui.vertical.menu .item i.icon {
    float: none;
    margin: 5px 5px 5px 3px;
    font-size: 20px;
  }
}
#content {
  padding-right: 50px !important;
  padding-left: 50px !important;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}
@media (max-width: 768px) {
  #content {
    padding-left: 60px;
    padding-right: 10px;
  }
}
#content .chart.element {
  width: 100%;
  height: 200px;
  font-size: 11px;
}
#content #background-profile {
  background-image: url(../img/blur.jpg);
  border: none;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#loginBackground {
  padding-top: 15%;
  background-color: #f3f4f5;
}

.ui.menu .item > img:not(.ui) {
    width: auto;
}

.ui.input {
    font-weight: normal;
    font-style: normal;
    color: rgb(33, 133, 208);
}

.ui.form input:not([type]), .ui.form input[type="date"], .ui.form input[type="datetime-local"], .ui.form input[type="email"], .ui.form input[type="number"], .ui.form input[type="password"], .ui.form input[type="search"], .ui.form input[type="tel"],
 .ui.form input[type="time"], .ui.form input[type="text"], .ui.form input[type="url"] {
    color: #233545;
}

.ui.form input:focus:not([type]), .ui.form input[type="date"]:focus, .ui.form input[type="datetime-local"]:focus, .ui.form input[type="email"]:focus, .ui.form input[type="number"]:focus, .ui.form input[type="password"]:focus, .ui.form input[type="search"]:focus, .ui.form input[type="tel"]:focus, .ui.form input[type="time"]:focus, .ui.form input[type="text"]:focus, .ui.form input[type="url"]:focus {
    color: rgb(80, 80, 80);
    border-color: #85b7d9;
    border-radius: 0.28571429rem;
    background: #ffffff;
    box-shadow: 0px 0em 0em 0em rgba(34, 36, 38, 0.35) inset;
}

.ui.header {
    border: none;
    margin: 54px 0px 22px;
    padding: 0em 0em;
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    line-height: 1.2857em;
    text-transform: none;
    color: rgba(0, 0, 0, 0.50);
}

.ui.statistics .statistic > .label, .ui.statistic > .label {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.70);
    text-transform: uppercase;
    text-align: center;
}

.ui.teal.statistics .statistic > .value, .ui.statistics .teal.statistic > .value, .ui.teal.statistic > .value {
    color: #1c88e3;
}


.ui.items > .item img.avatar, .ui.items > .item .avatar img {
    width: auto;
    height: auto;
    border-radius: none;
    transform: translate3d(0%,-12%,0);
}

.circle-avatar {
    width: 58px;
    height: 50px;
    overflow: hidden;
    border-radius: 500px;
}

.ui.avatar.images .image, .ui.avatar.images img, .ui.avatar.images svg, .ui.avatar.image img, .ui.avatar.image svg, .ui.avatar.image {
    width: auto;
    height: auto;
    border-radius: 0px;
    transform: translate3d(0%,-12%,0);
}

.ui.items > .item > .content {
    margin: 0 0 0px 15px;
}

.ui.menu .item > .floating.label {
    padding: 1px 3px 3px 4px;
}
.ui.floating.label {
    top: 9px;
    left: 80%;
    margin: 0em 0em 0em -1.5em !important;
}
.ui.labels .label, .ui.label {
    font-size: 7pt;
    border-radius: 500px;
}
.ui.items > .item > .content > .description {
    line-height: 9px;
    color: rgba(0, 0, 0, 0.70);
}
.more {
  color : #bababa;
}
#chartdiv {
  margin-top: 20px;
  width: 500px;
  height: 500px;
}

a[title="JavaScript charts"]
{
  display:none !important;
}

.amcharts-title {
  font-family: 'Lato';
  font-weight: 200;
}

table.dataTable.table{
  margin:0
  }

  table.dataTable.table thead th,table.dataTable.table thead td{
    position:relative
  }

  table.dataTable.table thead th.sorting,table.dataTable.table thead th.sorting_asc,table.dataTable.table thead th.sorting_desc,table.dataTable.table thead td.sorting,table.dataTable.table thead td.sorting_asc,table.dataTable.table thead td.sorting_desc{
    padding-right:20px
  }

  table.dataTable.table thead th.sorting:after,table.dataTable.table thead th.sorting_asc:after,table.dataTable.table thead th.sorting_desc:after,table.dataTable.table thead td.sorting:after,table.dataTable.table thead td.sorting_asc:after,table.dataTable.table thead td.sorting_desc:after{
    position:absolute;
    top:12px;
    right:8px;
    display:block;
    font-family:Icons
  }

  table.dataTable.table thead th.sorting:after,table.dataTable.table thead td.sorting:after{
    content:"\f0dc";
    color:#ddd;
    font-size:0.8em
  }table.dataTable.table thead th.sorting_asc:after,table.dataTable.table thead td.sorting_asc:after{
    content:"\f0de"
  }

  table.dataTable.table thead th.sorting_desc:after,table.dataTable.table thead td.sorting_desc:after{
    content:"\f0dd"
  }

  table.dataTable.table td,table.dataTable.table th{
    -webkit-box-sizing:content-box;
    box-sizing:content-box
  }

  table.dataTable.table td.dataTables_empty,table.dataTable.table th.dataTables_empty{
    text-align:center
  }

  table.dataTable.table.nowrap th,table.dataTable.table.nowrap td{
    white-space:nowrap
  }div.dataTables_wrapper div.dataTables_length select{
    vertical-align:middle;min-height:2.7142em
  }

  div.dataTables_wrapper div.dataTables_length .ui.selection.dropdown{
    min-width:0
  }

  div.dataTables_wrapper div.dataTables_filter input{
    margin-left:0.5em;
    width: 277px;
  }

  div.dataTables_wrapper div.dataTables_info{
    padding-top:13px;
    white-space:nowrap
  }

  div.dataTables_wrapper div.dataTables_processing{
    position:absolute;
    top:50%;left:50%;
    width:200px;
    margin-left:-100px;
    text-align:center
  }

  div.dataTables_wrapper div.row.dt-table{
    padding:0
  }

  div.dataTables_wrapper div.dataTables_scrollHead table.dataTable{
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
    border-bottom:none
  }

  div.dataTables_wrapper div.dataTables_scrollBody thead .sorting:after,div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_asc:after,div.dataTables_wrapper div.dataTables_scrollBody thead .sorting_desc:after{
    display:none
  }

  div.dataTables_wrapper div.dataTables_scrollBody table.dataTable{
    border-radius:0;border-top:none;border-bottom-width:0
  }

  div.dataTables_wrapper div.dataTables_scrollBody table.dataTable.no-footer{
    border-bottom-width:1px
  }

  div.dataTables_wrapper div.dataTables_scrollFoot table.dataTable{
    border-top-right-radius:0;border-top-left-radius:0;border-top:none
  }

.ui.form .field > label {
    color: #9cd1ff;
}

#editform .field > label {
    color: rgba(0, 0, 0, 0.22);
}

#editform.selection.dropdown {
    color: #233545;
}

#chartServer {
	width	: 100%;
	height	: 400px;
}

.ui.selection.dropdown {
    min-width: 11em;
}

.scrolling.undetached.dimmable.dimmed > .dimmer {
    overflow: scroll !important;
}

.scrolling.undetached.dimmable.dimmed{
    overflow: hidden !important;
}

.dimmed.dimmable > .ui.animating.dimmer, .dimmed.dimmable > .ui.visible.dimmer, .ui.active.dimmer, .ui.simple.dimmer {
    z-index:9999;
    overflow-y: scroll;
}

.ui.modal {
    top: 50%;
}

.button.control{
  margin-top: -60px;
}

.pageloader{
    top: 0;
    left: 0;
    margin: 0;
    z-index: 10000;
    height: 100%;
    width: 100%;
    position: fixed;
}

.ui.corner.label .txt {
    font-size: 12pt;
    margin-left: 13px;
    margin-top: 1px;
}



/*******************************
            Popup
*******************************/

.ui.calendar .ui.popup {
  max-width: none;
  padding: 0;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


/*******************************
            Calendar
*******************************/

.ui.calendar .calendar:focus {
  outline: 0;
}


/*******************************
            Grid
*******************************/

.ui.calendar .ui.popup .ui.grid {
  display: block;
  white-space: nowrap;
}
.ui.calendar .ui.popup .ui.grid > .column {
  width: auto;
}


/*******************************
            Table
*******************************/

.ui.calendar .ui.table.year,
.ui.calendar .ui.table.month,
.ui.calendar .ui.table.minute {
  min-width: 15em;
}
.ui.calendar .ui.table.day {
  min-width: 18em;
}
.ui.calendar .ui.table.hour {
  min-width: 20em;
}
.ui.calendar .ui.table tr th,
.ui.calendar .ui.table tr td {
  padding: 0.5em;
  white-space: nowrap;
}
.ui.calendar .ui.table tr th {
  border-left: none;
}
.ui.calendar .ui.table tr th .icon {
  margin: 0;
}
.ui.calendar .ui.table tr th .icon {
  margin: 0;
}
.ui.calendar .ui.table tr:first-child th {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}
.ui.calendar .ui.table.day tr:first-child th {
  border: none;
}
.ui.calendar .ui.table.day tr:nth-child(2) th {
  padding-top: 0.2em;
  padding-bottom: 0.3em;
}
.ui.calendar .ui.table tr td {
  padding-left: 0.1em;
  padding-right: 0.1em;
}
.ui.calendar .ui.table tr .link {
  cursor: pointer;
}
.ui.calendar .ui.table tr .prev.link {
  width: 14.28571429%;
  position: absolute;
  left: 0;
}
.ui.calendar .ui.table tr .next.link {
  width: 14.28571429%;
  position: absolute;
  right: 0;
}
.ui.calendar .ui.table tr .disabled {
  pointer-events: none;
  color: rgba(40, 40, 40, 0.3);
}

/*--------------
     States
---------------*/

.ui.calendar .ui.table tr td.today {
  font-weight: bold;
}
.ui.calendar .ui.table tr td.range {
  background: rgba(0, 0, 0, 0.05);
  color: rgba(0, 0, 0, 0.95);
  box-shadow: none;
}
.ui.calendar .ui.table.inverted tr td.range {
  background: rgba(255, 255, 255, 0.08);
  color: #ffffff;
  box-shadow: none;
}
.ui.calendar .calendar:focus .ui.table tbody tr td.focus,
.ui.calendar .calendar.active .ui.table tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}
.ui.calendar .calendar:focus .ui.table.inverted tbody tr td.focus,
.ui.calendar .calendar.active .ui.table.inverted tbody tr td.focus {
  box-shadow: inset 0 0 0 1px #85B7D9;
}

.chart{
  width: 100%;
  height: 450px;
}

.server.chart {
  height: 212px;
  width: 100%;
}

.ui.two.statistics .statistic {
    max-width: 50%;
}


/*******************************
            Popup
*******************************/

.ui.popup {
  display: none;
  position: absolute;
  top: 0px;
  right: 0px;

/* Fixes content being squished when inline (moz only) */
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  z-index: 1900;
  border: 1px solid #D4D4D5;
  line-height: 1.4285em;
  max-width: 250px;
  background: #FFFFFF;
  padding: 0.833em 1em;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
}
.ui.popup > .header {
  padding: 0em;
  font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 1.14285714em;
  line-height: 1.2;
  font-weight: bold;
}
.ui.popup > .header + .content {
  padding-top: 0.5em;
}
.ui.popup:before {
  position: absolute;
  content: '';
  width: 0.71428571em;
  height: 0.71428571em;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  box-shadow: 1px 1px 0px 0px #bababc;
}


/*******************************
            Types
*******************************/


/*--------------
    Tooltip
---------------*/


/* Content */
[data-tooltip] {
  position: relative;
}

/* Arrow */
[data-tooltip]:before {
  pointer-events: none;
  position: absolute;
  content: '';
  font-size: 1rem;
  width: 0.71428571em;
  height: 0.71428571em;
  background: #FFFFFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  z-index: 2;
  box-shadow: 1px 1px 0px 0px #bababc;
}

/* Popup */
[data-tooltip]:after {
  pointer-events: none;
  content: attr(data-tooltip);
  white-space: pre;
  position: absolute;
  text-transform: none;
  text-align: left;
  font-size: 1rem;
  border: 1px solid #D4D4D5;
  line-height: 1.4285em;
  max-width: none;
  background: #FFFFFF;
  padding: 0.833em 1em;
  font-weight: normal;
  font-style: normal;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.28571429rem;
  box-shadow: 0px 2px 4px 0px rgba(34, 36, 38, 0.12), 0px 2px 10px 0px rgba(34, 36, 38, 0.15);
  z-index: 1;
}

/* Default Position (Top Center) */
[data-tooltip]:not([data-position]):before {
  top: auto;
  right: auto;
  bottom: 100%;
  left: 50%;
  background: #FFFFFF;
  margin-left: -0.07142857rem;
  margin-bottom: 0.14285714rem;
}
[data-tooltip]:not([data-position]):after {
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 100%;
  margin-bottom: 0.5em;
}

/* Animation */
[data-tooltip]:before,
[data-tooltip]:after {
  pointer-events: none;
  visibility: hidden;
}
[data-tooltip]:before {
  opacity: 0;
  -webkit-transform: rotate(45deg) scale(0) !important;
          transform: rotate(45deg) scale(0) !important;
  -webkit-transform-origin: center top;
          transform-origin: center top;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
[data-tooltip]:after {
  opacity: 1;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  pointer-events: auto;
}
[data-tooltip]:hover:before {
  -webkit-transform: rotate(45deg) scale(1) !important;
          transform: rotate(45deg) scale(1) !important;
  opacity: 1;
}

/* Animation Position */
[data-tooltip]:after,
[data-tooltip][data-position="top center"]:after,
[data-tooltip][data-position="bottom center"]:after {
  -webkit-transform: translateX(-50%) scale(0) !important;
          transform: translateX(-50%) scale(0) !important;
}
[data-tooltip]:hover:after,
[data-tooltip][data-position="bottom center"]:hover:after {
  -webkit-transform: translateX(-50%) scale(1) !important;
          transform: translateX(-50%) scale(1) !important;
}
[data-tooltip][data-position="left center"]:after,
[data-tooltip][data-position="right center"]:after {
  -webkit-transform: translateY(-50%) scale(0) !important;
          transform: translateY(-50%) scale(0) !important;
}
[data-tooltip][data-position="left center"]:hover:after,
[data-tooltip][data-position="right center"]:hover:after {
  -webkit-transform: translateY(-50%) scale(1) !important;
          transform: translateY(-50%) scale(1) !important;
}
[data-tooltip][data-position="top left"]:after,
[data-tooltip][data-position="top right"]:after,
[data-tooltip][data-position="bottom left"]:after,
[data-tooltip][data-position="bottom right"]:after {
  -webkit-transform: scale(0) !important;
          transform: scale(0) !important;
}
[data-tooltip][data-position="top left"]:hover:after,
[data-tooltip][data-position="top right"]:hover:after,
[data-tooltip][data-position="bottom left"]:hover:after,
[data-tooltip][data-position="bottom right"]:hover:after {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
}

/*--------------
    Inverted
---------------*/


/* Arrow */
[data-tooltip][data-inverted]:before {
  box-shadow: none !important;
}

/* Arrow Position */
[data-tooltip][data-inverted]:before {
  background: #1B1C1D;
}

/* Popup  */
[data-tooltip][data-inverted]:after {
  background: #1B1C1D;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
}
[data-tooltip][data-inverted]:after .header {
  background-color: none;
  color: #FFFFFF;
}

/*--------------
    Position
---------------*/


/* Top Center */
[data-position="top center"][data-tooltip]:after {
  top: auto;
  right: auto;
  left: 50%;
  bottom: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-bottom: 0.5em;
}
[data-position="top center"][data-tooltip]:before {
  top: auto;
  right: auto;
  bottom: 100%;
  left: 50%;
  background: #FFFFFF;
  margin-left: -0.07142857rem;
  margin-bottom: 0.14285714rem;
}

/* Top Left */
[data-position="top left"][data-tooltip]:after {
  top: auto;
  right: auto;
  left: 0;
  bottom: 100%;
  margin-bottom: 0.5em;
}
[data-position="top left"][data-tooltip]:before {
  top: auto;
  right: auto;
  bottom: 100%;
  left: 1em;
  margin-left: -0.07142857rem;
  margin-bottom: 0.14285714rem;
}

/* Top Right */
[data-position="top right"][data-tooltip]:after {
  top: auto;
  left: auto;
  right: 0;
  bottom: 100%;
  margin-bottom: 0.5em;
}
[data-position="top right"][data-tooltip]:before {
  top: auto;
  left: auto;
  bottom: 100%;
  right: 1em;
  margin-left: -0.07142857rem;
  margin-bottom: 0.14285714rem;
}

/* Bottom Center */
[data-position="bottom center"][data-tooltip]:after {
  bottom: auto;
  right: auto;
  left: 50%;
  top: 100%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  margin-top: 0.5em;
}
[data-position="bottom center"][data-tooltip]:before {
  bottom: auto;
  right: auto;
  top: 100%;
  left: 50%;
  margin-left: -0.07142857rem;
  margin-top: 0.14285714rem;
}

/* Bottom Left */
[data-position="bottom left"][data-tooltip]:after {
  left: 0;
  top: 100%;
  margin-top: 0.5em;
}
[data-position="bottom left"][data-tooltip]:before {
  bottom: auto;
  right: auto;
  top: 100%;
  left: 1em;
  margin-left: -0.07142857rem;
  margin-top: 0.14285714rem;
}

/* Bottom Right */
[data-position="bottom right"][data-tooltip]:after {
  right: 0;
  top: 100%;
  margin-top: 0.5em;
}
[data-position="bottom right"][data-tooltip]:before {
  bottom: auto;
  left: auto;
  top: 100%;
  right: 1em;
  margin-left: -0.14285714rem;
  margin-top: 0.07142857rem;
}

/* Left Center */
[data-position="left center"][data-tooltip]:after {
  right: 100%;
  top: 50%;
  margin-right: 0.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
[data-position="left center"][data-tooltip]:before {
  right: 100%;
  top: 50%;
  margin-top: -0.14285714rem;
  margin-right: -0.07142857rem;
}

/* Right Center */
[data-position="right center"][data-tooltip]:after {
  left: 100%;
  top: 50%;
  margin-left: 0.5em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
[data-position="right center"][data-tooltip]:before {
  left: 100%;
  top: 50%;
  margin-top: -0.07142857rem;
  margin-left: 0.14285714rem;
}

/* Arrow */
[data-position~="bottom"][data-tooltip]:before {
  background: #FFFFFF;
  box-shadow: -1px -1px 0px 0px #bababc;
}
[data-position="left center"][data-tooltip]:before {
  background: #FFFFFF;
  box-shadow: 1px -1px 0px 0px #bababc;
}
[data-position="right center"][data-tooltip]:before {
  background: #FFFFFF;
  box-shadow: -1px 1px 0px 0px #bababc;
}
[data-position~="top"][data-tooltip]:before {
  background: #FFFFFF;
}

/* Inverted Arrow Color */
[data-inverted][data-position~="bottom"][data-tooltip]:before {
  background: #1B1C1D;
  box-shadow: -1px -1px 0px 0px #bababc;
}
[data-inverted][data-position="left center"][data-tooltip]:before {
  background: #1B1C1D;
  box-shadow: 1px -1px 0px 0px #bababc;
}
[data-inverted][data-position="right center"][data-tooltip]:before {
  background: #1B1C1D;
  box-shadow: -1px 1px 0px 0px #bababc;
}
[data-inverted][data-position~="top"][data-tooltip]:before {
  background: #1B1C1D;
}
[data-position~="bottom"][data-tooltip]:before {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
[data-position~="bottom"][data-tooltip]:after {
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
[data-position="left center"][data-tooltip]:before {
  -webkit-transform-origin: top center;
          transform-origin: top center;
}
[data-position="left center"][data-tooltip]:after {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
[data-position="right center"][data-tooltip]:before {
  -webkit-transform-origin: right center;
          transform-origin: right center;
}
[data-position="right center"][data-tooltip]:after {
  -webkit-transform-origin: left center;
          transform-origin: left center;
}

/*--------------
     Spacing
---------------*/

.ui.popup {
  margin: 0em;
}

/* Extending from Top */
.ui.top.popup {
  margin: 0em 0em 0.71428571em;
}
.ui.top.left.popup {
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}
.ui.top.center.popup {
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}
.ui.top.right.popup {
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

/* Extending from Vertical Center */
.ui.left.center.popup {
  margin: 0em 0.71428571em 0em 0em;
  -webkit-transform-origin: right 50%;
          transform-origin: right 50%;
}
.ui.right.center.popup {
  margin: 0em 0em 0em 0.71428571em;
  -webkit-transform-origin: left 50%;
          transform-origin: left 50%;
}

/* Extending from Bottom */
.ui.bottom.popup {
  margin: 0.71428571em 0em 0em;
}
.ui.bottom.left.popup {
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.ui.bottom.center.popup {
  -webkit-transform-origin: center top;
          transform-origin: center top;
}
.ui.bottom.right.popup {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

/*--------------
     Pointer
---------------*/


/*--- Below ---*/

.ui.bottom.center.popup:before {
  margin-left: -0.30714286em;
  top: -0.30714286em;
  left: 50%;
  right: auto;
  bottom: auto;
  box-shadow: -1px -1px 0px 0px #bababc;
}
.ui.bottom.left.popup {
  margin-left: 0em;
}
/*rtl:rename*/
.ui.bottom.left.popup:before {
  top: -0.30714286em;
  left: 1em;
  right: auto;
  bottom: auto;
  margin-left: 0em;
  box-shadow: -1px -1px 0px 0px #bababc;
}
.ui.bottom.right.popup {
  margin-right: 0em;
}
/*rtl:rename*/
.ui.bottom.right.popup:before {
  top: -0.30714286em;
  right: 1em;
  bottom: auto;
  left: auto;
  margin-left: 0em;
  box-shadow: -1px -1px 0px 0px #bababc;
}

/*--- Above ---*/

.ui.top.center.popup:before {
  top: auto;
  right: auto;
  bottom: -0.30714286em;
  left: 50%;
  margin-left: -0.30714286em;
}
.ui.top.left.popup {
  margin-left: 0em;
}
/*rtl:rename*/
.ui.top.left.popup:before {
  bottom: -0.30714286em;
  left: 1em;
  top: auto;
  right: auto;
  margin-left: 0em;
}
.ui.top.right.popup {
  margin-right: 0em;
}
/*rtl:rename*/
.ui.top.right.popup:before {
  bottom: -0.30714286em;
  right: 1em;
  top: auto;
  left: auto;
  margin-left: 0em;
}

/*--- Left Center ---*/

/*rtl:rename*/
.ui.left.center.popup:before {
  top: 50%;
  right: -0.30714286em;
  bottom: auto;
  left: auto;
  margin-top: -0.30714286em;
  box-shadow: 1px -1px 0px 0px #bababc;
}

/*--- Right Center  ---*/

/*rtl:rename*/
.ui.right.center.popup:before {
  top: 50%;
  left: -0.30714286em;
  bottom: auto;
  right: auto;
  margin-top: -0.30714286em;
  box-shadow: -1px 1px 0px 0px #bababc;
}

/* Arrow Color By Location */
.ui.bottom.popup:before {
  background: #FFFFFF;
}
.ui.right.center.popup:before,
.ui.left.center.popup:before {
  background: #FFFFFF;
}
.ui.top.popup:before {
  background: #FFFFFF;
}

/* Inverted Arrow Color */
.ui.inverted.bottom.popup:before {
  background: #1B1C1D;
}
.ui.inverted.right.center.popup:before,
.ui.inverted.left.center.popup:before {
  background: #1B1C1D;
}
.ui.inverted.top.popup:before {
  background: #1B1C1D;
}


/*******************************
            Coupling
*******************************/


/* Immediate Nested Grid */
.ui.popup > .ui.grid:not(.padded) {
  width: calc(100% + 1.75rem);
  margin: -0.7rem -0.875rem;
}


/*******************************
            States
*******************************/

.ui.loading.popup {
  display: block;
  visibility: hidden;
  z-index: -1;
}
.ui.animating.popup,
.ui.visible.popup {
  display: block;
}
.ui.visible.popup {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}


/*******************************
            Variations
*******************************/


/*--------------
     Basic
---------------*/

.ui.basic.popup:before {
  display: none;
}

/*--------------
     Wide
---------------*/

.ui.wide.popup {
  max-width: 350px;
}
.ui[class*="very wide"].popup {
  max-width: 550px;
}
@media only screen and (max-width: 767px) {
  .ui.wide.popup,
  .ui[class*="very wide"].popup {
    max-width: 250px;
  }
}

/*--------------
     Fluid
---------------*/

.ui.fluid.popup {
  width: 100%;
  max-width: none;
}

/*--------------
     Colors
---------------*/


/* Inverted colors  */
.ui.inverted.popup {
  background: #1B1C1D;
  color: #FFFFFF;
  border: none;
  box-shadow: none;
}
.ui.inverted.popup .header {
  background-color: none;
  color: #FFFFFF;
}
.ui.inverted.popup:before {
  background-color: #1B1C1D;
  box-shadow: none !important;
}

/*--------------
     Flowing
---------------*/

.ui.flowing.popup {
  max-width: none;
}

/*--------------
     Sizes
---------------*/

.ui.mini.popup {
  font-size: 0.78571429rem;
}
.ui.tiny.popup {
  font-size: 0.85714286rem;
}
.ui.small.popup {
  font-size: 0.92857143rem;
}
.ui.popup {
  font-size: 1rem;
}
.ui.large.popup {
  font-size: 1.14285714rem;
}
.ui.huge.popup {
  font-size: 1.42857143rem;
}

.ui.modal > .close {
    cursor: pointer;
    position: absolute;
    top: -1px;
    right: -1px;
    z-index: 1;
    opacity: 1;
    font-size: 1.25em;
    color: #c94e4e;
    width: 24px;
    height: 24px;
    padding: 3px 0 0;
    background-color: white;
    border-radius: 100%;
}

table .ui.icon.button, .ui.icon.buttons .button {
    padding: 6px;
}

.ui.tabular.menu .active.item {
    color: rgb(28, 136, 227);
    font-weight: unset;
}

a {
    background: 0 0;
    color: #1c88e3;
}
.users.icon.off
{
  color: #C0C0C0
}

.ui.button.position{
  width: 222px;
}



.content h2
{
  color: white;
  text-align:center;

  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  background-color: black;
}

.content h3
{
  color: #1c88e3;
  text-align:center;

  -moz-box-shadow: 2px 2px 6px #888;
  -webkit-box-shadow: 2px 2px 6px #888;
  box-shadow:2px 2px 6px #888;
  background-color: #FBEFFB;
}

.content fieldset {
 padding:0 20px 20px 20px;
 margin-bottom:10px;
 border:1px solid  #1c88e3;
 -moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px;

 }


.content legend {
 color: #1c88e3;
 font-weight:bold
 }
.content label {
text-align: center;

 }

/*.header ul {
 padding:auto;
 margin:auto;
 list-style-type:none;
 }

.header li {
 float:left;
 border-left:1px solid black;
 }

.header ul li a {
 display:block;
 float:left;
 width:100px;
 line-height:50px;
 background:black repeat-x;
 color:#DCDCDC;
 text-decoration:none;
 text-align:center;
 }

.header ul li a:hover {
 background:black repeat-x;
 color:white;
 }

#navAjout {
  padding: 0; margin: 0;
}
#navAjout li {
  display: inline;
  list-style: none; /* nécessaire pour IE7
} */


#navAjout li {
  margin-top: 20px;
  display: inline;
  list-style: none;
}
#navAjout a {
  display:inline-block;
  margin: 0 90px;
  color: white;
}

#navAjout {
    border-top-color: #707070;
    background-color: #5E5E5E;
    text-align: center;
    vertical-align: middle;
    height: 25px;
    -webkit-box-shadow: 0 1px 3px #999;
    -moz-box-shadow: 0 1px 3px #999;
    box-shadow: 0 1px 3px #999;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}



table caption {
  padding: .5em 0;
}

@media screen and (max-width: 767px) {
  table caption {
    border-bottom: 1px solid #ddd;
  }
}

.p {
  text-align: center;
  padding-top: 140px;
  font-size: 14px;
}

/*couleur gris/rosé pour les cellules du tableau à ne pas remplir*/
.stripe-2 {
  color: black;
  background: repeating-linear-gradient(
    45deg,
    transparent,
    transparent 10px,
    #ccc 10px,
    #ccc 20px
  ),
  linear-gradient(
    to bottom,
    #eee,
    #FBEFFB
  )
}


/*variation des tableaux lié au script js de la page users*/

.nonaff1 {
display: none;
}
.nonaff2 {
display: none;
}
.nonaff3 {
display: none;
}
.nonaff4 {
display: none;
}
.nonaff5 {
display: none;
}
.nonaff6 {
display: none;
}
.nonaff7 {
display: none;
}
.nonaff8 {
display: none;
}
.nonaff9 {
display: none;
}
.nonaff10 {
display: none;
} /*
#tableauhidden {
width: 100%;
}
#tableau {
width: 100%
} */


/*ACCES AU BOUTONS DACTVATION DES CHAMPS DU TABLEAU DANS users.php*/
#menu-accordeon {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 250px;
}
#menu-accordeon ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
}
#menu-accordeon li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #729EBF 0%, #333A40 100%);
   background-image: linear-gradient(to bottom, #729EBF 0%, #333A40 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40;
}
#menu-accordeon li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0;
}
#menu-accordeon a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em;
}
#menu-accordeon ul li a, #menu-accordeon li:hover li a {
  font-size:1em;
  text-decoration: line-through;
}
#menu-accordeon li:hover {
   background: #729EBF;
}
#menu-accordeon li li:hover {
   background: #999;
}
#menu-accordeon ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon li:hover li {
  max-height: 15em;
}

#menu-accordeon .boutonStyle {
  border:none;
  padding:6px 10px 6px 10px;
  border-radius:8px;
  background:transparent;
  font:bold 13px Arial;
  color:#fff;
}

#menu-accordeon .boutonStyle:hover {
  border:none;
  padding:6px 10px 6px 10px;
  border-radius:8px;
  background:#729EBF;
  font:bold 13px Arial;
  color:#fff;
}

#menu-accordeon .boutonStyle:active {
  border:none;
  padding:6px 10px 6px 10px;
  border-radius:8px;
  background:#729EBF;
  font:bold 13px Arial;
  color:#fff;
  text-decoration: underline;
}


/*MENU ACORDEON DANS add_project.php et edit_project.php*/
#menu-accordeon-project {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  width: 100%;
}
#menu-accordeon-project ul {
  padding:0;
  margin:0;
  list-style:none;
  text-align: center;
  color: white;
}
#menu-accordeon-project li {
   background-color:#729EBF;
   background-image:-webkit-linear-gradient(top, #1c88e3 0%, black 100%);
   background-image: linear-gradient(to bottom, #1c88e3 0%, black 100%);
   border-radius: 6px;
   margin-bottom:2px;
   box-shadow: 3px 3px 3px #999;
   border:solid 1px #333A40;
}
#menu-accordeon-project li li {
   max-height:0;
   overflow: hidden;
   transition: all .5s;
   border-radius:0;
   background: #444;
   box-shadow: none;
   border:none;
   margin:0;
}
/*#menu-accordeon-project a {
  display:block;
  text-decoration: none;
  color: #fff;
  padding: 8px 0;
  font-family: verdana;
  font-size:1.2em
}
#menu-accordeon-project ul li a, #menu-accordeon-project li:hover li a {
  font-size:1em
}*/
#menu-accordeon-project li:hover {
   background: #1c88e3
}
#menu-accordeon-project li li:hover {
   background: #1c88e3;
}
#menu-accordeon-project ul li:last-child {
   border-radius: 0 0 6px 6px;
   border:none;
}
#menu-accordeon-project li:hover li {
  max-height: 15em;
}

.header .global{
  width: 100%;
  height:50px;
}

.droite, .gauche{
}

.gauche{
  width:50%;
  float:left;
}

.droite{
  width:50%;
  float:right;
}
/*
#droite, #gauche {
    display: inline-block;
    vertical-align: top;
}
#gauche {
    width:60%;
}

#droite {
    width: 40%;
}*/
